body, html {
    margin: 0;
    height: 100%;
    font-family: Roboto;
    overflow: hidden;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: #77B8DD;
}

#title-text {
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
#body {
    height: 100%;
    background-image: linear-gradient(black, black), url("../media/background.jpg");
    background-size: 300px;
    background-repeat: repeat;
    background-blend-mode: saturation;
}
.center {
    display: flex;
    height: 100%;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
}

#login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 500px;
    margin-top: -60px;
    background-color: #F5F5F5;
}

#label {
    display: flex;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 148px;
    margin-bottom: 15px;
}

.employee-fill-out {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 45px;
    background-color: #ffffff;
    color: black;
    border: none;
    text-align: center;
    font-size: 16px;
}

.employee-fill-out::placeholder {
    display: flex;
    background-color: #ffffff;
    color: #afafaf;
    border: none;
}

#login-btn {
    display: flex;
    position: absolute;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    background-color: #CCA7BB;
    font-weight: 600;
    color: #ffffff;
    height: 45px;
    width: 150px;
    margin: 0 90px -300px 0;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#go-back-btn {
    font-size: 35px;
    position: absolute;
    display: flex;
    align-self: flex-start;
    margin-top: -380px;
    margin-left: 50px;
    cursor: pointer;
}
  
  #login-error-msg {
    opacity: 0;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    height: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(194, 38, 38);
  }